<div class="hidden-xs">
    <div class="form-group">
        <div class="controls">
            <input class="form-control" type="search" name="s" ng-model="search.text" ng-change="doSearch()"
                   placeholder="Search" autofocus="autofocus"/>
        </div>
    </div>
</div>


<nav class="well">
    <a class="btn btn-success" ng-href="/website/add">
        <i class="icon-plus icon-white"></i>
        Add new Website
    </a>
</nav>


<div class="table-responsive">
    <table class="table table-bordered table-striped" ng-show="websites.length > 0">
        <thead>
        <tr>
            <th>Action</th>
            <th>Website</th>
            <th>Domain</th>
            <th class="hidden-xs">Url</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="website in websites">
            <td style="width:100px;">
                <a class="btn btn-info" ng-href="/website/details/{{website.id}}">
                    <i class="icon-info-sign icon-white"></i>
                    Details
                </a>
            </td>
            <td>{{website.name}}</td>
            <td>{{website.domain}}</td>
            <td class="hidden-xs">{{website.url}}</td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-info" ng-hide="websites.length > 0">There are no matching websites.</div>

    <ul class="pager" ng-show="search.page > 1 || search.next">
        <li class="previous" ng-show="search.page > 1"><a href="#previous" ng-click="previous()">Previous</a></li>
        <li class="next" ng-show="search.next"><a href="#next" ng-click="next()">Next</a></li>
    </ul>
</div>
