/system/library/vendor
/system/logs
!/system/logs/README.md
/system/templates/cache/*
!/system/templates/cache/README.md
/system/config.local.php
/system/data
!/system/data/schema.sql
/build
composer.phar
phpinfo.php
.sass-cache
/public/vendor
