<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
  <testsuites>
    <testsuite name="Password DB Test Suite">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-html" target="build/coverage" title="zfapp"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">system</directory>
      <exclude>
        <directory suffix=".php">system/data</directory>
        <directory suffix=".php">system/logs</directory>
        <directory suffix=".php">system/library/vendor</directory>
        <file>system/api_routes.php</file>
        <file>system/application.php</file>
        <file>system/config.php</file>
    </exclude>
    </whitelist>
  </filter>
</phpunit>
