DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Let existing files / directories through
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Rewrite API Routes
    RewriteRule ^api$ index.php [NC,L]
    RewriteRule ^api/(.*)$ index.php [NC,L]

    # Send the rest to the bootstrap
    RewriteRule ^.*$ index.html [NC,L]

</IfModule>
