<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Static File" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="API Root" stopProcessing="true">
                    <match url="^api$" ignoreCase="false" />
                    <action type="Rewrite" url="api.php" />
                </rule>
                <rule name="API Rewrite" stopProcessing="true">
                    <match url="^api/.*$" ignoreCase="false" />
                    <action type="Rewrite" url="api.php" />
                </rule>
                <rule name="Application Redirect" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
