// Imports
@import "./bootstrap.scss";

// Responsive
body{
  // Add top padding to body for top bar
  // Must be added before responsive
  padding-top:40px;
}
@import "../../vendor/bootstrap-sass/lib/responsive";

// Variables

// Layout

// Styles
.form-horizontal input + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block{
  margin:5px 0 0 0;
}
.thumbnail > .table{
  margin:0;
}
#main-footer{
  padding-bottom: 17px;
  padding-top: 1em;
  margin: 18px 0;
  border-top: 1px solid #EEE;
}
.control-label.required:before{
  color: #FF0000;
  font-weight: bold;
  content: "* ";
}
.flash-messages {
  margin:10px 0;
}