<div class="page-header">
    <h1>{{website.name}}</h1>
</div>
<form name="formAdmin" ng-submit="saveAdmin()">
    <fieldset>
        <legend>{{legend}}</legend>
        <div class="form-group">
            <label for="form-website-name" class="control-label">Website</label>

            <div class="controls">
                <p class="form-control-static" id="form-website-name">{{website.name}}<span ng-show="website.domain"> ({{website.domain}})</span>
                </p>

                <p class="help-block">The website the admin login is for.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formAdmin.username.$invalid}">
            <label for="form-admin-username" class="control-label">Username</label>

            <div class="controls">
                <input type="text" class="form-control" id="form-admin-username" name="username"
                       ng-model="admin.username" ng-maxlength="100"/>

                <div class="help-block" ng-show="formAdmin.username.$invalid">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span ng-show="formAdmin.username.$error.maxlength">Username must not be more than 100 characters.</span>
                    <span ng-show="formAdmin.username.$error.remote"
                          ng-repeat="error in errors.username">{{ error }}</span>
                </div>
                <div class="help-block">The admin login username.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formAdmin.password.$invalid}">
            <label for="form-admin-password" class="control-label">Password</label>

            <div class="controls">
                <input type="text" class="form-control" id="form-admin-password" name="password"
                       ng-model="admin.password" ng-maxlength="100"/>

                <div class="help-block" ng-show="formAdmin.password.$invalid">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span ng-show="formAdmin.password.$error.maxlength">Password must not be more than 100 characters.</span>
                    <span ng-show="formAdmin.password.$error.remote"
                          ng-repeat="error in errors.password">{{ error }}</span>
                </div>
                <div class="help-block">The admin login password.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formAdmin.url.$invalid}">
            <label for="form-admin-url" class="control-label">Login URL</label>

            <div class="controls">
                <input type="text" class="form-control" id="form-admin-url" name="url" ng-model="admin.url"
                       ng-maxlength="255"/>

                <div class="help-block" ng-show="formAdmin.url.$invalid">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span ng-show="formAdmin.url.$error.maxlength">URL must not be more than 255 characters.</span>
                    <span ng-show="formAdmin.url.$error.remote" ng-repeat="error in errors.url">{{ error }}</span>
                </div>
                <div class="help-block">URL to the admin login.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formAdmin.notes.$invalid}">
            <label for="form-admin-notes" class="control-label">Notes</label>

            <div class="controls">
                <textarea class="form-control" rows="5" id="form-admin-notes" name="notes"
                          ng-model="admin.notes"></textarea>

                <div class="help-block" ng-show="formAdmin.notes.$invalid">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span ng-show="formAdmin.notes.$error.remote"
                          ng-repeat="error in errors.notes">{{ error }}</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a class="btn btn-default" ng-href="/website/details/{{website.id}}">Cancel</a>
        </div>
    </fieldset>
</form>
